.entireFeature, .featurette-total, .pdf {
    position: relative;
    float: right;
    margin-top: 0;
    z-index: -1;
}

.masthead {
    background: url(work-station-straight-on-view.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact ul {
    list-style: none;
    font-size: 1.3em;
}

.download {
    font-size: 2em;
}

@media only screen and (max-width: 500px) {
    .row {
        margin-right: 0;
        margin-left: 0;
        overflow-y: auto;
    }
    
    .masthead {
        background: transparent;
    }
    
    .cover-container {
        overflow-y: auto;
    }
}